<?xml version="1.0"?>

<launch>
	<param name="/use_sim_time" value="true" />
	<remap from="robot/laser/scan" to="/scan" />
	<include file="$(find gazebo_ros)/launch/empty_world.launch"/>
	<arg name="world_name" value="$(find husky_sim)/world/test_world.world"/>
	<arg name="model" default="$(find husky_sim)/urdf/husky.urdf.xacro" />
	<param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
	</node>

	<node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="1 0 0 0 0 0 1 base_link map 100" />

	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
	<param name="publish_frequency" type="double" value="50.0" />
	</node>

	<node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
	args="-urdf -param robot_description -z 0.1 -model husky" respawn="false" output="screen" />

	<node name="rviz" pkg="rviz" type="rviz" args=" -d $(find husky_sim)/rviz/navigation.rviz" required="true" />
</launch>
